<div class="container-fluid">
  <div class="row">
    <h4>Busqueda de Cliente</h4>
  </div>
  <div class="form-inline w-100 mb-3 mx-auto">
    <mat-form-field class="px-3">
      <mat-label>Tipo de Identificación</mat-label>
      <mat-select>
        <mat-option [value]="cedula">Cédula</mat-option>
        <mat-option [value]="pasaporte">Pasaporte</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="px-3">
      <input matInput placeholder="Identificación" ([ngModel])="identification">
    </mat-form-field>
    <button mat-button class="btn btn-info px-3">Buscar</button>
  </div>
  <div class="row">
    <div class="card w-100">
      <div class="card-body">
        <div class="row">
          <h4>Datos Personales</h4>
        </div>
        <div class="row" align='left'>
          <div class="col-4">
            <div class="row">
              <div class="col-6">
                <b>Cédula:</b>
              </div>
              <div class="col-6">
                0123456789
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <b>Nombre:</b>
              </div>
              <div class="col-6">
                Carlos 
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <b>Apellido:</b>
              </div>
              <div class="col-6">
                Perez
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-6">
                <b>Dirección:</b>
              </div>
              <div class="col-6">
                Av Americas
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <b>Fecha Nacimiento:</b>
              </div>
              <div class="col-6">
                15/06/1990
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <b>Correo:</b>
              </div>
              <div class="col-6">
                cperez@gmail.com
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-6">
                <b>Teléfono:</b>
              </div>
              <div class="col-6">
                0987654321
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <b>Celular:</b>
              </div>
              <div class="col-6">
                0987654321
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <b>Observaciones:</b>
              </div>
              <div class="col-6">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <button class="btn btn-info">Consultar polizas en SRI</button>
  </div>
  <div class="row">
    <div class="col-12">
      <table mat-table matSort [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="cedula">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cédula </th>
          <td mat-cell *matCellDef="let element;"> {{element.cedula}} </td>
        </ng-container>
        <ng-container matColumnDef="vigencia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Vigencia </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaV}} </td>
        </ng-container>
        <ng-container matColumnDef="proximoPago">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha del proximo pago </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaP}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>