<mat-toolbar class="fix-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="nav-brand">
        <img src="assets/images/logo1bn.png" alt="" width="70" height="55">
    </div>
    <span class="nav-spacer"></span>
    <a class="btn btn-light mr-4" href="https://github.com/trivialbox/aigcollect">
        Descargar Dash
    </a>
    <a class="btn btn-light mr-4" href="https://github.com/trivialbox/AigcollectApp">
        Descargar App
    </a>
    <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profile="matMenu">
        <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Perfil</span>
        </button>
        <!-- <button mat-menu-item>
            <mat-icon>inbox</mat-icon>
            <span>{{ 'Inbox' | translate }}</span>
        </button>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>{{ 'Settings' | translate }}</span>
        </button> -->
    </mat-menu>
    <button mat-icon-button (click)="onLoggedout()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>